/.vs
/lib/HOOKS-Assembly-CSharp.dll
/lib/PUBLIC-Assembly-CSharp.dll
/mod/debug/
/LogUtils/bin
/LogUtils/obj
/LogUtils.Patcher/bin
/LogUtils.Patcher/obj
/ExpeditionRegionSupport/bin
/ExpeditionRegionSupport/obj
LogUtils/LogUtils.csproj.user
