/RandomStartsFix/bin/Debug/net48/0Harmony.dll
/RandomStartsFix/bin/Debug/net48/MonoMod.Common.dll
/RandomStartsFix/bin/Debug/net48/MonoMod.RuntimeDetour.dll
/RandomStartsFix/bin/Debug/net48/MonoMod.RuntimeDetour.xml
/RandomStartsFix/bin/Debug/net48/MonoMod.Utils.dll
/RandomStartsFix/bin/Debug/net48/MonoMod.Utils.xml
/RandomStartsFix/bin/Debug/net48/PUBLIC-Assembly-CSharp.dll
/RandomStartsFix/bin/Debug/net48/RandomStartsFix.pdb
/RandomStartsFix/bin/Debug/net48/UnityEngine.CoreModule.dll
/RandomStartsFix/bin/Debug/net48/UnityEngine.dll
/RandomStartsFix/bin/Debug/net48/UnityEngine.InputLegacyModule.dll
/RandomStartsFix/bin/Debug/net48/UnityEngine.SharedInternalsModule.dll
/RandomStartsFix/bin/Debug/net48/0Harmony.xml
/RandomStartsFix/bin/Debug/net48/0Harmony20.dll
/RandomStartsFix/bin/Debug/net48/BepInEx.dll
/RandomStartsFix/bin/Debug/net48/BepInEx.Harmony.dll
/RandomStartsFix/bin/Debug/net48/BepInEx.Harmony.xml
/RandomStartsFix/bin/Debug/net48/BepInEx.Preloader.dll
/RandomStartsFix/bin/Debug/net48/BepInEx.Preloader.xml
/RandomStartsFix/bin/Debug/net48/ExpeditionRegionSupport.pdb
/RandomStartsFix/bin/Debug/net48/HarmonyXInterop.dll
/RandomStartsFix/bin/Debug/net48/HOOKS-Assembly-CSharp.dll
/RandomStartsFix/bin/Debug/net48/Mono.Cecil.dll
/RandomStartsFix/bin/Debug/net48/ExpeditionRegionSupport.dll
/RandomStartsFix/bin/Debug/net48/Mono.Cecil.Mdb.dll
/RandomStartsFix/bin/Debug/net48/Mono.Cecil.Pdb.dll
/RandomStartsFix/bin/Debug/net48/Mono.Cecil.Rocks.dll
