/RandomStartsFix/bin/Debug/net48/0Harmony.dll
/RandomStartsFix/bin/Debug/net48/MonoMod.Common.dll
/RandomStartsFix/bin/Debug/net48/MonoMod.RuntimeDetour.dll
/RandomStartsFix/bin/Debug/net48/MonoMod.RuntimeDetour.xml
/RandomStartsFix/bin/Debug/net48/MonoMod.Utils.dll
/RandomStartsFix/bin/Debug/net48/MonoMod.Utils.xml
/RandomStartsFix/bin/Debug/net48/PUBLIC-Assembly-CSharp.dll
/RandomStartsFix/bin/Debug/net48/RandomStartsFix.pdb
/RandomStartsFix/bin/Debug/net48/UnityEngine.CoreModule.dll
/RandomStartsFix/bin/Debug/net48/UnityEngine.dll
/RandomStartsFix/bin/Debug/net48/UnityEngine.InputLegacyModule.dll
/RandomStartsFix/bin/Debug/net48/UnityEngine.SharedInternalsModule.dll
/RandomStartsFix/bin/Debug/net48/0Harmony.xml
/RandomStartsFix/bin/Debug/net48/0Harmony20.dll
/RandomStartsFix/bin/Debug/net48/BepInEx.dll
/RandomStartsFix/bin/Debug/net48/BepInEx.Harmony.dll
/RandomStartsFix/bin/Debug/net48/BepInEx.Harmony.xml
/RandomStartsFix/bin/Debug/net48/BepInEx.Preloader.dll
/RandomStartsFix/bin/Debug/net48/BepInEx.Preloader.xml
/RandomStartsFix/bin/Debug/net48/ExpeditionRegionSupport.pdb
/RandomStartsFix/bin/Debug/net48/HarmonyXInterop.dll
/RandomStartsFix/bin/Debug/net48/HOOKS-Assembly-CSharp.dll
/RandomStartsFix/bin/Debug/net48/Mono.Cecil.dll
/RandomStartsFix/bin/Debug/net48/ExpeditionRegionSupport.dll
/RandomStartsFix/bin/Debug/net48/Mono.Cecil.Mdb.dll
/RandomStartsFix/bin/Debug/net48/Mono.Cecil.Pdb.dll
/RandomStartsFix/bin/Debug/net48/Mono.Cecil.Rocks.dll
/.vs/ExpeditionRegionSupport/DesignTimeBuild/.dtbcache.v2
/.vs/ExpeditionRegionSupport/FileContentIndex/171c95de-4cc5-44c1-87ba-c0871fea5af2.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/25dc8313-6673-4088-b909-7fcea32356ac.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/30c3affd-78ac-412e-908b-0e99dd62ba87.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/4f7f2cc9-10a6-46cc-8467-c4d99e5aebcd.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/4fc1e3c2-7a2c-4c26-85b4-f9610b1589a4.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/8233b710-cd67-4781-af59-576f66b90290.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/9f30cd0b-76a7-46d1-8db7-c30ecfed3336.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/ce13871a-624d-43e7-8529-1eadd67e202c.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/e024ab9e-2231-49e5-9791-1e98e89e4d78.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/e102c73a-d370-46ce-8649-c0d32598ceab.vsidx
/.vs/ExpeditionRegionSupport/v17/.suo
/ExpeditionRegionSupport/bin/Release/net48/0Harmony.dll
/ExpeditionRegionSupport/bin/Release/net48/0Harmony.xml
/ExpeditionRegionSupport/bin/Release/net48/0Harmony20.dll
/ExpeditionRegionSupport/bin/Release/net48/BepInEx.dll
/ExpeditionRegionSupport/bin/Release/net48/BepInEx.Harmony.dll
/ExpeditionRegionSupport/bin/Release/net48/BepInEx.Harmony.xml
/ExpeditionRegionSupport/bin/Release/net48/BepInEx.Preloader.dll
/ExpeditionRegionSupport/bin/Release/net48/BepInEx.Preloader.xml
/ExpeditionRegionSupport/bin/Release/net48/ExpeditionRegionSupport.dll
/ExpeditionRegionSupport/bin/Release/net48/ExpeditionRegionSupport.pdb
/ExpeditionRegionSupport/bin/Release/net48/HarmonyXInterop.dll
/ExpeditionRegionSupport/bin/Release/net48/HOOKS-Assembly-CSharp.dll
/ExpeditionRegionSupport/bin/Release/net48/Mono.Cecil.dll
/ExpeditionRegionSupport/bin/Release/net48/Mono.Cecil.Mdb.dll
/ExpeditionRegionSupport/bin/Release/net48/Mono.Cecil.Pdb.dll
/ExpeditionRegionSupport/bin/Release/net48/Mono.Cecil.Rocks.dll
/ExpeditionRegionSupport/bin/Release/net48/MonoMod.Common.dll
/ExpeditionRegionSupport/bin/Release/net48/MonoMod.RuntimeDetour.dll
/ExpeditionRegionSupport/bin/Release/net48/MonoMod.RuntimeDetour.xml
/ExpeditionRegionSupport/bin/Release/net48/MonoMod.Utils.dll
/ExpeditionRegionSupport/bin/Release/net48/MonoMod.Utils.xml
/ExpeditionRegionSupport/bin/Release/net48/PUBLIC-Assembly-CSharp.dll
/ExpeditionRegionSupport/bin/Release/net48/UnityEngine.CoreModule.dll
/ExpeditionRegionSupport/bin/Release/net48/UnityEngine.dll
/ExpeditionRegionSupport/bin/Release/net48/UnityEngine.InputLegacyModule.dll
/ExpeditionRegionSupport/bin/Release/net48/UnityEngine.SharedInternalsModule.dll
/ExpeditionRegionSupport/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.AssemblyInfo.cs
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.AssemblyInfoInputs.cache
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.assets.cache
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.csproj.AssemblyReference.cache
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.csproj.BuildWithSkipAnalyzers
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.csproj.CopyComplete
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.csproj.CoreCompileInputs.cache
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.csproj.FileListAbsolute.txt
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.dll
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.GeneratedMSBuildEditorConfig.editorconfig
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.pdb
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.AssemblyInfo.cs
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.AssemblyInfoInputs.cache
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.assets.cache
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.csproj.AssemblyReference.cache
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.csproj.BuildWithSkipAnalyzers
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.csproj.CopyComplete
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.csproj.CoreCompileInputs.cache
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.csproj.FileListAbsolute.txt
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.dll
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.GeneratedMSBuildEditorConfig.editorconfig
/ExpeditionRegionSupport/obj/Debug/net48/RandomStartsFix.pdb
/ExpeditionRegionSupport/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/ExpeditionRegionSupport/obj/Debug/net6.0/RandomStartsFix.AssemblyInfo.cs
/ExpeditionRegionSupport/obj/Debug/net6.0/RandomStartsFix.AssemblyInfoInputs.cache
/ExpeditionRegionSupport/obj/Debug/net6.0/RandomStartsFix.assets.cache
/ExpeditionRegionSupport/obj/Debug/net6.0/RandomStartsFix.GeneratedMSBuildEditorConfig.editorconfig
/ExpeditionRegionSupport/obj/Debug/net6.0/RandomStartsFix.GlobalUsings.g.cs
/ExpeditionRegionSupport/bin/Release/net48/UnityEngine.InputModule.dll
/.vs/ExpeditionRegionSupport/FileContentIndex/1cb65e27-8d71-4182-84be-359a06453d01.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/2dec4bd3-f408-41ff-86e7-020a9e7b98b0.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/44a80e8d-9208-4f34-a913-15eae47ebdad.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/6a352db8-b532-46ee-bc42-4a30defdcf9c.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/8c1cd083-f93b-41f6-9c7a-bf83fbaf7a27.vsidx
/.vs/ExpeditionRegionSupport/v17/.futdcache.v2
/.vs/ProjectEvaluation/expeditionregionsupport.metadata.v7.bin
/.vs/ProjectEvaluation/expeditionregionsupport.projects.v7.bin
/.vs/ProjectEvaluation/randomstartsfix.metadata.v7.bin
/.vs/ProjectEvaluation/randomstartsfix.projects.v7.bin
/.vs/RandomStartsFix/DesignTimeBuild/.dtbcache.v2
/.vs/RandomStartsFix/FileContentIndex/0cbbdc7d-77c8-4079-bed1-cc6d9e1fab5a.vsidx
/.vs/RandomStartsFix/FileContentIndex/2fb61deb-67d7-4685-ad5b-55dec8be0bb3.vsidx
/.vs/RandomStartsFix/FileContentIndex/6566a59d-843f-46d3-a598-6f1b82515e9a.vsidx
/.vs/RandomStartsFix/FileContentIndex/f2c7e831-01fd-4655-998b-945487c08092.vsidx
/.vs/RandomStartsFix/FileContentIndex/fb9927a1-c2cd-4057-b5a4-b3616d9a9cfb.vsidx
/.vs/ExpeditionRegionSupport/FileContentIndex/42579b9a-261c-428d-af0c-7849e4a7f4cc.vsidx
/.vs
/lib/HOOKS-Assembly-CSharp.dll
/lib/PUBLIC-Assembly-CSharp.dll
/mod/debug/
/ExpeditionRegionSupport/obj/ExpeditionRegionSupport.csproj.nuget.dgspec.json
/ExpeditionRegionSupport/obj/ExpeditionRegionSupport.csproj.nuget.g.props
/ExpeditionRegionSupport/obj/ExpeditionRegionSupport.csproj.nuget.g.targets
/ExpeditionRegionSupport/obj/project.assets.json
/ExpeditionRegionSupport/obj/project.nuget.cache
/LogUtils/obj/Release/net48/LogUtils.AssemblyInfoInputs.cache
/LogUtils/obj/Release/net48/LogUtils.assets.cache
/LogUtils/obj/Release/net48/LogUtils.csproj.AssemblyReference.cache
/LogUtils/obj/Release/net48/LogUtils.GeneratedMSBuildEditorConfig.editorconfig
/LogUtils/obj/LogUtils.csproj.nuget.dgspec.json
/LogUtils/obj/LogUtils.csproj.nuget.g.props
/LogUtils/obj/LogUtils.csproj.nuget.g.targets
/LogUtils/obj/project.assets.json
/LogUtils/obj/project.nuget.cache
/LogUtils/obj/Release/net48/LogUtils.csproj.CoreCompileInputs.cache
/LogUtils/obj/Release/net48/LogUtils.csproj.FileListAbsolute.txt
/LogUtils/obj/Release/net48/LogUtils.sourcelink.json
/ExpeditionRegionSupport/obj/Release/net48/ExpeditionRegionSupport.csproj.FileListAbsolute.txt
/ExpeditionRegionSupport/obj/Release/net48/ExpeditionRegionSupport.sourcelink.json
/LogUtils.Patcher/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/LogUtils.Patcher/obj/Debug/net48/LogUtils.Patcher.AssemblyInfo.cs
/LogUtils.Patcher/obj/Debug/net48/LogUtils.Patcher.AssemblyInfoInputs.cache
/LogUtils.Patcher/obj/Debug/net48/LogUtils.Patcher.csproj.AssemblyReference.cache
/LogUtils.Patcher/obj/Debug/net48/LogUtils.Patcher.GeneratedMSBuildEditorConfig.editorconfig
/LogUtils.Patcher/obj/Debug/net48/LogUtils.Patcher.assets.cache
/LogUtils.Patcher/obj/Debug/net48/LogUtils.Patcher.csproj.CoreCompileInputs.cache
/LogUtils.Patcher/obj/Debug/net48/LogUtils.Patcher.csproj.FileListAbsolute.txt
/LogUtils.Patcher/obj/Debug/net48/LogUtils.Patcher.sourcelink.json
/LogUtils.Patcher/obj/LogUtils.Patcher.csproj.nuget.dgspec.json
/LogUtils.Patcher/obj/LogUtils.Patcher.csproj.nuget.g.props
/LogUtils.Patcher/obj/LogUtils.Patcher.csproj.nuget.g.targets
/LogUtils/obj/Debug/net48/LogUtils.AssemblyInfoInputs.cache
/LogUtils/obj/Debug/net48/LogUtils.assets.cache
/LogUtils/obj/Debug/net48/LogUtils.csproj.AssemblyReference.cache
/LogUtils/obj/Debug/net48/LogUtils.csproj.CoreCompileInputs.cache
/LogUtils/obj/Debug/net48/LogUtils.csproj.FileListAbsolute.txt
/ExpeditionRegionSupport/obj/Debug/net48/Expediti.20BF4544.Up2Date
/ExpeditionRegionSupport/obj/Debug/net48/ExpeditionRegionSupport.sourcelink.json
/LogUtils.Patcher/obj/project.assets.json
/LogUtils.Patcher/obj/project.nuget.cache
/LogUtils/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/ExpeditionRegionSupport/bin/Debug/net48/ExpeditionRegionSupport.dll
/ExpeditionRegionSupport/bin/Debug/net48/ExpeditionRegionSupport.pdb
/LogUtils/obj/Debug/net48/LogUtils.GeneratedMSBuildEditorConfig.editorconfig
/LogUtils/obj/Debug/net48/LogUtils.sourcelink.json
/LogUtils/bin
/LogUtils/obj
LogUtils/LogUtils.csproj.user
